.top-header{
    height:80px;
    background:#364359;
    box-shadow: 0 4px 4px rgba(0,0,0,.25);
    display: flex;
}
.fund-logo{
    height: 35px;
    padding: 23px 15px 23px 30px;
    /* flex: 0 0 4%; */
}
.header-alignment{
    color:#fff;
    font-size:24px;
    padding:24px 10px;
    /* flex:1; */
}
.page-header-style{
    position: sticky;
    top:0;
    background: #fff;
    width:1000px;
    box-shadow: 3px 0px 10px rgba(0,0,0,.25);
    height:80px;
    border-radius:10px;
    margin: 20px auto;
    display:flex;
}
.page-header-name{
    font-size:22px;
    font-weight: 500;
    margin:23px 10px 23px 30px;
    color:#5f5f5f;
    

}
.main-input-box{
    margin:22px;
    flex:0 0 40%;
    text-align:center;
    font-size: 18px;    
}
.button-style{
    border:0px;
    border-radius:10px;
    margin:22px;
    flex:1;
    background: rgb(86, 204, 215);
    color:#fff;
    font-size:18px;
    font-weight: 500;
    cursor:pointer;
    outline:none;
}
