.main-content-style{
    width:900px;
    margin:40px auto;
    height: auto;
    background: #fff;
    box-shadow: 3px 0px 10px rgba(0,0,0,.25);
    border-radius:10px; 
    padding:20px;   
}

.parent-division{
    margin:10px 20px;
    border-radius:10px;
    padding:10px;
    border:1px solid #b1aeae;
    display: flex;
    box-shadow: 3px 0px 10px rgba(0,0,0,.1)
}
.parent-division-text{
    padding: 0px 10px;
    color:#333;
    font-size:18px;
    flex: 0 0 60%;
}
.parent-division-percent{
    padding:0 0 0 10px;
    color:#333;
    font-size:18px;
    max-width:100px;
    border:0px;
}
.parent-division-amount{
    padding:0 10px;
    color:#333;
    font-size:18px;
    flex:0 0 6%;
}
.second-division{
    margin:10px 20px 10px 60px;
    border-radius:10px;
    padding:10px;
    border:1px solid #b1aeae;
    display: flex;
    box-shadow: 3px 0px 10px rgba(0,0,0,.1)
}
.hide-second-division{
    display: none;
}
.second-division-text{
    padding: 0px 10px;
    color:#333;
    font-size:18px;
    flex: 0 0 58%;
}
.third-division{
    margin:10px 20px 10px 100px;
    border-radius:10px;
    padding:10px;
    border:1px solid #b1aeae;
    display: flex;
    box-shadow: 3px 0px 10px rgba(0,0,0,.1)
}
.hide-third-division{
    display: none;
}
.third-division-text{
    padding: 0px 10px;
    color:#333;
    font-size:18px;
    flex: 0 0 56%;
}

.heading{
    font-weight: 500;
    font-size:18px;
    display: flex;
    padding:0px 50px 0 70px;
}

.second-division-amount{
    padding:0 12px;
    color:#333;
    font-size:18px;
    flex:0 0 6%;
}

.third-division-amount{
    padding:0 14px;
    color:#333;
    font-size:18px;
    flex:0 0 6%;
}

.blank-screen-text{
    font-weight:500;
    font-size:22px;
    text-align: center;
    color:#818080;

}
.button-content-style{
    width:800px;
    margin:20px auto;
    height: 80px;
    background: #fff;
    box-shadow: 3px 0px 10px rgba(0,0,0,.25);
    border-radius:10px;
    display:flex;
}
.button-style{
    border:0px;
    border-radius:10px;
    margin:22px;
    flex:1;
    background: rgb(86, 204, 215);
    color:#fff;
    font-size:18px;
    font-weight: 500;
    cursor:pointer;
    outline:none;
}
.button-style:disabled, .button-style[disabled]{
    background-color: #cccccc;
    cursor: context-menu;
}
button:hover{
    background: #364359;

}